.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-wrapper {
  padding-top: 80px;
}

.search-form {
  padding-left: 50px;
}


.user-table {
  padding-left: 50px;
  padding-right: 50px;
}
.center{
    margin-right: 25%;
    margin-left: 10%;
}
.profile-icon {
  padding-top: 30px;
}


/* The side navigation menu */
.sidenav {
    height: 99%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 1px solid #e7e7e7;
    margin-top: 48px;
}

.sidenav-left {
  left: 0;
}
.sidenav-right {
  right: 0;
}

.sidenav .row{
  padding-left: 50px;
  padding-right: 50px;
}



/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.row {
    margin-right:  0px;
    margin-left: 0px;
}

.container
{
    padding-right: 46px;
    padding-left: 46px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    background-color: white;
}
.poweredBy {
    font-weight: bold;
    margin-top: 20px;
    margin-right: 5px;
    cursor: default;
    margin-left: -96px;
    margin-bottom: 0px;
    font-size: 12px !important;
}
.companyLogo
{
    height: 25px;
    margin-top: -7px;
    margin-left: -4px;
}

.manageWidgetsDiv
{
    width: 40%;
    font-size: 12px;
}
.widgetMove {

    cursor: -webkit-grab;
}

.groupBox3
{
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: cornflowerblue;
    height: auto;
    width: 74px;
}

.editIcon
{
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    cursor: pointer;
}

.deleteFieldsIcon
{
    height: 10px;
    width: 10px;
    min-height: 12px;
    min-width: 12px;
}

.md-progress-linear
{
  height: 3px!important;
}

.chieldPlusIcon
{
    margin-top: -2px;
    fill: white;
    background: #f11e1e;
    border-radius: 4px;

    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    font-weight: 800;
}

.chieldMinusIcon
{
    margin-top: -2px;
    fill: white;
    background: #f11e1e;
    border-radius: 4px;

    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    font-weight: 800;
}

.parentPlusIcon
{
    margin-top: -2px;
    fill: white;
    background: #28d9ec;
    border-radius: 4px;

    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    font-weight: 800;
}

.parentMinusIcon
{
    margin-top: -2px;
    fill: white;
    background: #28d9ec;
    border-radius: 4px;

    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    font-weight: 800;
}
.nav > li > a, .nav > li > a
 {
    color: #c0c4c8;
    cursor: -webkit-grab;
}

.nav > li > a:hover, .nav > li > a:focus
 {
    text-decoration: none;
    background-color: #313334 !important;
    color: #60a1d6;
}

.multiselect-parent .dropdown-toggle {
  margin-left: -80px;
  height: 28px;
  padding-top: 3px;
  cursor: pointer;;
}

.multiselect-parent .dropdown-menu {
   margin-left: -80px;
   height: 28px;
    padding-top: 3px;
    cursor: pointer;
}

.md-datepicker-button
{
  display: none;
}

.dndPlaceholder
{
    background-color: blue;
    display: block;
    min-height: 10px;
    width: 10px;
    opacity: 1 !important;
}
.dndDragover
{
  opacity: .5;
  border-color: green !important;
}

.md-checked .md-icon {
    background-color: rgba(132, 121, 124, 0.87) !important;
}

.md-open-menu-container
{
    position: fixed !important;
}
.nv-x .tick line { display: none; }