<selection>
  <md-toolbar class="crmToolBar"  style="background-color: #f2f4f5;min-height: 52px;height: 35px;border-bottom: 1px solid #ccc;position: fixed;">
      <div class="md-toolbar-tools">

        <a href="http://www.portqii.com/" target="_blank" style="background:none;">
             <img class="companyLogo" src="/images/portQii1.png">
        </a>
        <h2 flex="" md-truncate="" style="color:#96999b;margin-left: 8px;">Sales Intelligence</h2>
      </div>
  <md-progress-linear md-mode="indeterminate" ng-if="loadingEloqua" style="margin-bottom: -3px !important;"></md-progress-linear>
    </md-toolbar>
  <md-content  style="padding-top: 50px">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="{{type}}" ng-repeat="type in connectiontypes">
        <md-tab-label>
                <h4  ng-hide="tab.edit" style="text-transform: capitalize;font-size: 16px">
                  {{type}}
                </h4>
        </md-tab-label>
      <md-tab-body>
        <md-content class="md-padding">

          <div class="alert alert-success" ng-if='alreadyAdded' > ! User already added.</div>
          <div layout="row">

            <div layout="column" ng-if="type == 'salesforce'" flex="40">
              <form ng-submit="saveAccount(account)">
                <md-input-container ng-repeat="field in fields[type]" class="md-block">
                  <label style="font-size: 18px">{{field.name | capitalize}}</label>
                  <input ng-model="account.credentials[type][field.name]" type="{{field.type}}">
                </md-input-container>
                <md-input-container class="md-block">
                  <md-button type="submit" class="md-raised md-primary" style="margin-left: 0px;text-transform: capitalize;">Save</md-button>
                </md-input-container>
              </form>
            </div>

           <div ng-init="eloquafilter = false;" layout="column" flex="50" ng-show="type == 'eloqua'">
             <div layout="row">
               <div layout="column" flex="40">
                 <form ng-submit="saveAccount(account)">
                   <md-input-container  class="md-block">
                     <label style="font-size: 18px">SFDC accountId field</label>
                     <md-select ng-model="account.sfdcAccountIdField">
                      <md-option ng-value="opt.internalName" ng-repeat="opt in eloquacontactfileds">{{ opt.name }}</md-option>
                    </md-select>
                   </md-input-container>
                   <md-input-container class="md-block">
                     <md-button type="submit" class="md-raised md-primary" style="margin-left: 0px;text-transform: capitalize;">Save</md-button>
                   </md-input-container>
                 </form>
               </div>
             </div>
              <md-toolbar class="md-table-toolbar" ng-hide="eloquausersselected.length || eloquafilter" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(242, 244, 245);color: black">
              <div class="md-toolbar-tools">
                <h2 class="md-title">Eloqua Users</h2>
                <div flex="" class="flex"></div>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="eloquafilter = true" aria-label="filter_list">
                  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
                <div class="md-ripple-container"></div></button>
              </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="eloquafilter &amp;&amp; !eloquausersselected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: #f2f4f5">
              <div class="md-toolbar-tools">
               <!--  <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
                <form flex=""  class="ng-pristine ng-valid flex">
                  <input type="text" ng-model="eloquaquery.query"  ng-change="searchusers(eloquaquery.query)" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="eloquafilter = false"  aria-label="close">
                  <md-icon  md-svg-src="images/clear.svg " class="material-icons" style="fill:red"></md-icon>
                <div class="md-ripple-container"></div></button>
              </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="eloquausersselected.length" aria-hidden="true" >
              <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
                <div>0 item selected</div>
              </div>
            </md-toolbar>

              <!-- exact table from live demo -->
              <md-table-container style="background-color: white;">
                <table md-table md-row-select multiple ng-model="eloquausersselected" md-progress="promise">
                  <thead md-head md-on-reorder="getEloquaUsers">
                    <tr md-row>
                      <th md-column style="border-bottom: 1px solid #ddd">Email</th>
                      <th md-column >First Name</th>
                      <th md-column >Last Name</th>
                      <th md-column >Add</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in eloquausers">
                      <td md-cell>{{item.emailAddress}}</td>
                      <td md-cell>{{item.firstName}}</td>
                      <td md-cell>{{item.lastName}}</td>
                      <td md-cell>
                        <button ng-click="adduser(item)" class="md-icon-button md-button md-ink-ripple" type="button"  aria-label="add">
                          <md-icon class="material-icons" md-svg-src="images/add.svg " style="fill: cornflowerblue;font-weight: bold;"></md-icon>
                        <div class="md-ripple-container"></div></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination md-limit="eloquaquery.limit" md-limit-options="[5, 10, 15]" md-page="eloquaquery.page" md-total="{{eloquauserscount}}" md-on-paginate="getEloquaUsers" md-page-select style="background-color: white"></md-table-pagination>
              </div>

            <div  layout="column" style="margin-left: 20px;" flex="50" ng-show="type == 'eloqua'">
              <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(242, 244, 245);color: black">
              <div class="md-toolbar-tools">
                <h2 class="md-title">User Permissions</h2>
                <div flex="" class="flex"></div>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
                  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
                <div class="md-ripple-container"></div></button>

              </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: #f2f4f5">
              <div class="md-toolbar-tools">
                <!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
                <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
                  <input type="text" ng-model="query.query" ng-change="searchacl(query.query)" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
                  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
                <div class="md-ripple-container"></div></button>
              </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
              <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
                <div>0 item selected</div>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete()" aria-label="delete">
                  <md-icon class="material-icons">delete</md-icon>
                </button>
              </div>
            </md-toolbar>

              <!-- exact table from live demo -->
              <md-table-container style="overflow: hidden;background-color: white;">
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                  <thead md-head md-order="query.order" md-on-reorder="getAcl">
                    <tr md-row>
                      <th md-column md-order-by="email">Email</th>
                      <th md-column md-order-by="userId">User Id</th>
                      <th md-column md-order-by="siteId">Site Id</th>
                      <th md-column md-order-by="created" >Created </th>
                      <th md-column md-order-by="created">Action</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in acldata">
                      <td md-cell title="{{item.title}}" >{{item.email}}</td>
                      <td md-cell>{{item.userId}}</td>
                      <td md-cell>{{item.siteId}}</td>
                      <td md-cell style="padding-right: 42px;">{{item.created | date:'yyyy-MM-dd'}}</td>
                      <td md-cell>
                        <button ng-click="removeuser(item)" class="md-icon-button md-button md-ink-ripple" type="button"  aria-label="close">
                          <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill: red;font-weight: bold"></md-icon>
                        <div class="md-ripple-container"></div></button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{aclcount}}" md-on-paginate="getAcl" md-page-select style="background-color: white"></md-table-pagination >
              </div>

          </div>
        </md-content>
      </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</selection>
