
<section layout="row" flex=""  id="main" >
<md-toolbar class="crmToolBar"  style="background-color: #f2f4f5;min-height: 52px;height: 35px;border-bottom: 1px solid #ccc;position: fixed;">
      <div class="md-toolbar-tools">
         <md-button class="md-icon-button" ng-click="toggleMain();" onclick="openNav('mainView')" aria-label="Settings">
            <i class="fa fa-bars" style="color: #0572ce;font-size: 21px;margin-top: 1px;"></i>
        </md-button>
        <a href="http://www.portqii.com/" target="_blank" style="background:none;">
             <img class="companyLogo" src="/images/portQii1.png">
        </a>
		<h2 flex="" md-truncate="" style="color:#96999b;margin-left: 8px;">Sales Intelligence</h2>
         
		 </span>
		<span style='font-size:15px;opacity:.6;color:black;'  ng-if='showDateFilter && !showAccountCustomDate'  >
	      {{fromdate*1000 | date}} to {{todate*1000 | date}}</b>
	    </span>
		 <div ng-show="showAccountCustomDate " style="height: 32px;">
			 <md-datepicker ng-model="myStartDate" md-placeholder="Start date" md-open-on-focus="" ng-init='myStartDate = null' md-max-date='maxDate'></md-datepicker>
			 <span class="pull-right" style="margin-top: -1px;">
			  <md-datepicker ng-model="myEndDate" md-placeholder="End date" md-open-on-focus=""  ng-init='myEndDate = null'  md-max-date='maxDate'></md-datepicker>
			  <md-button style="height: 23px;margin-top: 0px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 25px;" ng-click="filterByCustomDate(myStartDate , myEndDate)" ng-disabled="myStartDate == null && myEndDate == null">
			    <md-icon class="" md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;fill:black"></md-icon>
		     </md-button>
		     </span>
		</div>
		<md-menu-bar ng-if='showDateFilter' style='padding:0px'>
        <md-menu>
        <button ng-click="$mdMenu.open()">		
		<i class="fa fa-calendar" style='color:#0572ce;font-size: 23px;'  aria-hidden="true"></i>
		</button>
		 <md-menu-content style='min-width: 160px;'>
		    <md-menu-item>  
			  <md-button ng-click="$mdMenu.close();filterByDate('30 Days')">
				30 Days
			  </md-button>
			</md-menu-item> 
			<md-menu-item> 
			  <md-button ng-click="$mdMenu.close();filterByDate('6 Months')">
				6 Months
			  </md-button>
			</md-menu-item> 
			<md-menu-item> 
			  <md-button ng-click="$mdMenu.close();filterByDate('1 Year')">
				1 Year
			  </md-button>
		    </md-menu-item>
			<md-menu-item> 
			  <md-button ng-click="filterByDate('Custom Date')">
				Custom Date
			  </md-button> 
		    </md-menu-item>
		 </md-menu-content>
		</md-menu>
		</md-menu-bar>
      </div>
       <md-progress-linear md-mode="indeterminate" ng-if="loadingSalesForce || loadingEloqua || loadingTabs" style="margin-bottom: -3px !important;height:4px"></md-progress-linear>
</md-toolbar>
				 
 <md-sidenav class="md-sidenav-left"  md-component-id="mainView" md-disable-backdrop="false" md-whiteframe="4" style="position:fixed;background-color: #313334;width: 200px" align="begin" >
   <md-content layout-margin="">
     <div layout="column" layout-align="top left" style="margin: 0px;background-color: #313334;">
      <span flex="100" ></span>
        <md-button aria-label="" class="md-icon-button" ng-click="toggleMain()" onclick="closeNav('Main')">
          <md-icon md-svg-src="images/clear.svg" style="fill: #c0c4c8"></md-icon>
        </md-button>
      </div>
      <aside class="off-sidebar off-sidebar-left clearfix" style="background-color: #313334;margin: 0px;">
        <ul class="nav nav-sidebar nav-stacked main-menu" class="mainUL">
          <li>
            <a  ng-click="toggleLeft();" onclick="openNav('left');" style="cursor: pointer;">
             <md-icon md-svg-src="images/dataModel.svg" style="fill: #c0c4c8"></md-icon>
          
            <span class="text" style="margin-left: 15px;">
            Data Model
          </span>
        </a>
        </li>

        <li>
            <a  ng-click="toggleRight(); " onclick="openNav('right')" style="cursor: pointer;">
             <md-icon md-svg-src="images/settings.svg" style="fill: #c0c4c8"></md-icon>
          
            <span class="text" style="margin-left: 15px;">
           Controls
          </span>
        </a>
        </li>
         <li>
            <a  style="cursor: pointer;">
             <md-switch class="md-primary" md-no-ink=""   ng-change ="showHideIcon();" aria-label="Switch No Ink" ng-model="edit" style="margin: 0px ; height: 16px; cursor: pointer;">Edit
            </md-switch>
           </a>
        </li>

         <li>
            <a  ng-click="toggleMain();resetdefault()" onclick= "closeNav('Main');" style="cursor: pointer;">
             <md-icon md-svg-src="images/reset.svg" style="fill: #c0c4c8"></md-icon>
        
            <span class="text" style="margin-left: 15px;">
           Reset
          </span>
        </a>
        </li>

      </aside>
   </md-content>
 </md-sidenav>

  <md-sidenav class="md-sidenav-left"  md-component-id="left" md-disable-backdrop="false" md-whiteframe="4" style="position:fixed;background-color: #313334;width: 330px;min-width: 300px;" align="begin" >
    <md-content layout-margin="" style="background-color: #313334;">
      <div layout="column" layout-align="top right" style="margin: 0px;">
        <md-button aria-label="" class="md-icon-button" ng-click="toggleLeft()" onclick="closeNav('left')">
          <md-icon md-svg-src="images/clear.svg" style="fill: #c0c4c8"></md-icon>
        </md-button>
      </div>
      <md-tabs md-dynamic-height="" md-border-bottom="" >
        <md-tab ng-if="salesforceuseravailable">
          <md-tab-label>
                <h4 style="text-transform: capitalize;font-size: 16px;color: #c0c4c8">
                  Salesforce
                </h4>
          </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" style="overflow: hidden;padding-right: 0px;padding-left: 0px;background-color: #313334;color: #c0c4c8">
            <script type="text/ng-template" id="field.html">

              <md-list style="margin-bottom: -40px;padding-top: 0px;" ng-if="node.open" flex ng-init="parentnode = node;">
               <div class="contactNode"   style="padding-left: 55px;padding-bottom: 15px"  ng-repeat= "node in salesforceobjectfields[node.referenceTo[0]] | filter:salesforcequery"  ng-init="node.fieldname = parentnode.parentfieldname + '.' + node.name; node.objectname = parentnode.objectname + '.' + node.referenceTo[0]; node.objname = parent; node.parentfieldname =  parentnode.parentfieldname + '.' + node.relationshipName  || node.name; node.wherefield =  node.relationshipName + '.' + parentnode.wherefield; node.valuefield = parentnode.valuefield;" >
                 <md-icon  ng-click="node.open = true; getsalesforcefields(node.referenceTo[0]);" md-svg-src="images/add.svg " class="parentPlusIcon" ng-if = 'node.referenceTo[0] && node.referenceTo[0].length > 0 && !node.open' style='margin-top: -2px;margin-left: -28px;'>
                  </md-icon>
                    <md-icon  ng-click="node.open = false" md-svg-src="images/remove.svg " class="parentMinusIcon" ng-if = 'node.referenceTo[0] && node.referenceTo[0].length > 0 && node.open' style='margin-left: -28px;'>
                 </md-icon>
                    <span dnd-draggable="node"  dnd-type="node.type" title="{{node.title}}" dnd-callback="true">
                          {{node.parentName }}
                    </span>
                    <md-list ng-if="node.open" ng-include="'field.html'" ng-init="getsalesforcefields(node.reference[0]);" >


                    </md-list>
               </div>

               <md-list style = "margin-left: -4px;padding-top: 0px">
               <md-list-item ng-init="object.childanalyticsopen = false; object.objname = object.childSObject; object.parent = parent; object.objectname = parentnode.wherefield; object.valuefield = parentnode.valuefield;" ng-if="node.open" ng-repeat="object in salesforcechilds[node.referenceTo[0]] | filter:salesforcequery">
                   <div  dnd-draggable="object" dnd-callback="true" style="padding-left: 17px;" title="{{object.title}}" >
                     <md-icon md-svg-src="images/add.svg " class="chieldPlusIcon" ng-if = '!object.childanalyticsopen' ng-click="object.childanalyticsopen = !object.childanalyticsopen" style='margin-top: -2px;'>
                     </md-icon>
                     <md-icon ng-if='object.childanalyticsopen' ng-click="object.childanalyticsopen = !object.childanalyticsopen" md-svg-src="images/remove.svg" class="chieldMinusIcon">
                     </md-icon>
                       {{object.fullName}}
                      <md-list-item ng-show="object.childanalyticsopen" dnd-draggable="field" dnd-callback="true"  ng-repeat="field in salesforceobjectfields[object.childSObject]" ng-if="field.type == 'picklist' || field.type == 'datetime'"  style="padding-left: 40px" >
                       <span ng-if="field.type == 'picklist'"  ng-init="field.parent = parent; field.source = 'salesforce'; field.field = object.field; field.objname = object.childSObject; field.widgettype = 'chart'; field.objectname =  parentnode.wherefield; field.valuefield = parentnode.valuefield;" title="by{{field.title}}">
                       by {{field.chieldName}}
                       </span>
                       <span  ng-if="field.type == 'datetime'"  ng-init="field.parent = parent; field.source = 'salesforce';field.field = object.field; field.objname = object.childSObject; field.widgettype = 'chart'; field.interval = 'year'; field.objectname = parentnode.wherefield; field.valuefield = parentnode.valuefield;" title="by{{field.title}}">
                       by {{field.chieldName}}
                       </span>
                     </md-list-item>
                 </div>
              </md-list-item>
             </md-list>
              </md-list>
            </script>
            <input type="text" class="form-control" ng-model="salesforcequery" placeholder="Search..." style = "height: 24px;">
            <md-list ng-repeat="parent in parentobjects" ng-init="parentOpen[parent] = false">
             <div style="padding-top: 15px;padding-bottom: 15px;">
              <md-icon md-svg-src="images/add.svg " class="parentPlusIcon" ng-if = '!parentOpen[parent]' style='margin-top: -2px;'  ng-click="parentOpen[parent] = !parentOpen[parent]"></md-icon>
             <md-icon ng-if='parentOpen[parent]'  ng-click="parentOpen[parent] = !parentOpen[parent]" md-svg-src="images/remove.svg" class="parentMinusIcon" style="fill: white"></md-icon>
           {{parent  | capitalize}}</div>

            <md-list style="margin-bottom: -40px;padding-top: 0px;" flex>
             <div class="contactNode"  ng-if="parentOpen[parent]" style="padding-left: 55px;padding-bottom: 15px"  ng-repeat= "node in salesforceobjectfields[parent] | filter:salesforcequery" ng-init="node.open = false; node.fieldname = node.name; node.objectname = node.referenceTo[0]; node.objname = parent;  node.parentfieldname = node.relationshipName || node.name; node.wherefield = node.name; node.valuefield = node.name;" >
               <md-icon  ng-click="node.open = true; getsalesforcefields(node.referenceTo[0]);" md-svg-src="images/add.svg " class="parentPlusIcon" ng-if = 'node.referenceTo[0] && node.referenceTo[0].length > 0 && !node.open' style='margin-top: -2px;margin-left: -28px;'>
                </md-icon>
                  <md-icon  ng-click="node.open = false" md-svg-src="images/remove.svg " class="parentMinusIcon" ng-if = 'node.referenceTo[0] && node.referenceTo[0].length > 0 && node.open' style='margin-left: -28px;'>
               </md-icon>
                  <span dnd-draggable="node"  dnd-type="node.type" title="{{node.title}}" dnd-callback="true">
                        {{node.parentName}}
                  </span>
                  <md-list ng-if="node.open" ng-include="'field.html'"  >


                  </md-list>
             </div>

             <md-list style = "margin-left: -4px;padding-top: 0px">
             <md-list-item ng-init="object.childanalyticsopen = false; object.objname = object.childSObject; object.parent = parent; object.objectname = object.field; object.valuefield = 'Id';" ng-show="parentOpen[parent]" ng-repeat="object in salesforcechilds[parent] | filter:salesforcequery">
                 <div  dnd-draggable="object" dnd-callback="true" style="padding-left: 17px;" title="{{object.title}}" >
                   <md-icon md-svg-src="images/add.svg " class="chieldPlusIcon" ng-if = '!object.childanalyticsopen' ng-click="object.childanalyticsopen = !object.childanalyticsopen" style='margin-top: -2px;'>
                   </md-icon>
                   <md-icon ng-if='object.childanalyticsopen' ng-click="object.childanalyticsopen = !object.childanalyticsopen" md-svg-src="images/remove.svg" class="chieldMinusIcon">
                   </md-icon>
                   <span dnd-draggable="object" title="{{object.title}}" dnd-callback="true" dnd-type="'Object'">
                     {{object.fullName}}
                    <md-list-item ng-show="object.childanalyticsopen" dnd-draggable="field" dnd-callback="true"  ng-repeat="field in salesforceobjectfields[object.childSObject]" ng-if="field.type == 'picklist' || field.type == 'datetime'"  style="padding-left: 40px" >
                     <span ng-if="field.type == 'picklist'"  ng-init="field.parent = parent; field.source = 'salesforce'; field.field = object.field; field.objname = object.childSObject; field.widgettype = 'chart'; field.objectname = object.field; field.valuefield = 'Id'" title="by{{field.title}}">
                     by {{field.chieldName}}
                     </span>
                     <span  ng-if="field.type == 'datetime'"  ng-init="field.parent = parent; field.source = 'salesforce';field.field = object.field; field.objname = object.childSObject; field.widgettype = 'chart';field.interval = 'year'; field.objectname = object.field; field.valuefield = 'Id'" title="by{{field.title}}">
                     by {{field.chieldName}}
                     </span>
                   </md-list-item>
               </div>
            </md-list-item>
           </md-list>
            </md-list>
           </md-list>

          </md-content>
        </md-tab-body>
        </md-tab>
     <md-tab >
        <md-tab-label>
                <h4 style="text-transform: capitalize;font-size: 16px;color: #c0c4c8">
                  Eloqua
                </h4>
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" style="overflow: hidden;padding-right: 0px;padding-left: 0px;background-color: #313334;color: #c0c4c8">
            <input type="text" class="form-control" ng-model="eloquaquery" placeholder="Search..." style = "height: 24px;">
            <md-list ng-repeat="parent in eloquaParentobjects" ng-init="parentOpen[parent] = false">
             <div style="padding-top: 15px;padding-bottom: 15px;">
              <md-icon md-svg-src="images/add.svg " class="parentPlusIcon" ng-if = '!parentOpen[parent]' style='margin-top: -2px;'  ng-click="parentOpen[parent] = !parentOpen[parent]"></md-icon>
             <md-icon ng-if='parentOpen[parent]'  ng-click="parentOpen[parent] = !parentOpen[parent]" md-svg-src="images/remove.svg" class="parentMinusIcon"></md-icon>
           {{parent  | capitalize}}</div>

            <md-list style="margin-bottom: -40px;padding-top: 0px;" flex>
                <div ng-if="parentOpen[parent] && parent == 'Analytics'" ng-repeat="field in eloquaAnalystics" style="padding-left: 50px;" >
                  <span dnd-draggable="field" ng-init="field.label = '{{field}}'" title="" dnd-callback="true" dnd-type="'Node'">
                        {{field.internalName}}
                  </span>
                  <md-list >

                  </md-list>
                 </div>

                 <div ng-if="parentOpen[parent] && parent == 'Contact Activities'" style="padding-left: 50px;" >
                  <ul class="nav nav-sidebar nav-stacked main-menu" >
                   <li ng-repeat="item in eloquaControls" >
                      <a dnd-draggable="item"  dnd-type="'tabs'" dnd-callback="true">
                      <md-icon md-svg-src="{{item.image}}"  style="fill: #c0c4c8"></md-icon>
                      <span class="text" style="margin-left: 15px;">
                       {{item.internalName}}
                      </span>
                      </a>
                   </li>
                  </ul>
                   <md-list >
                   </md-list>
                 </div>

              <div ng-if="parentOpen[parent] && parent == 'Account Activities'" style="padding-left: 50px;" >
                  <ul class="nav nav-sidebar nav-stacked main-menu" >
                   <li ng-repeat="item in eloquaControlsAccountBased" >
                      <a dnd-draggable="item"  dnd-type="'tabs'" dnd-callback="true">
                      <md-icon md-svg-src="{{item.image}}"  style="fill: #c0c4c8"></md-icon>
                     <span class="text" style="margin-left: 15px;">
                       {{item.internalName}}
                     </span>
                   </a>
                 </li>
               </ul>
               <md-list >
              </md-list>
            </div>

              <div class="contactNode"  ng-if="parentOpen[parent]" style="padding-left: 50px;"  ng-repeat= "field in eloquafields[parent] | filter:eloquaquery" >
                  <span dnd-draggable="field" title="{{field.name + ' ( '+ field.internalName +' )'}}" dnd-callback="true"  dnd-type="'Node'">
                        {{field.fullName }}
                  </span>
                  <md-list >

                  </md-list>
                 </div>
              </md-list>
           </md-list>

          </md-content>

  </md-tab-body>
  </md-sidenav>


  <md-sidenav class="md-sidenav-left"  md-component-id="right" md-disable-backdrop="false" md-whiteframe="4" style="position:fixed;margin-top: 0px;background-color: #313334;width: 270px" align="begin" >
    <md-content layout-margin="" style="background-color: #313334;">
      <div layout="column" layout-align="top right" style="margin: 0px">
        <md-button aria-label="" class="md-icon-button" ng-click="toggleRight()" onclick="closeNav('right')">
          <md-icon md-svg-src="images/clear.svg" style="fill: #c0c4c8"></md-icon>
        </md-button>
      </div>

      <ul class="nav nav-sidebar nav-stacked main-menu" >
        <li >
            <a dnd-draggable="{type: 'tab'}"  dnd-type="'tabs'" dnd-callback="true">
                <md-icon md-svg-src="images/tab.svg"  style="fill: #c0c4c8"></md-icon>
         
            <span class="text" style="margin-left: 15px;">
            Tab
          </span>
        </a>
        </li>

        <li >
            <a dnd-effect-allowed="move" dnd-type="'widgets'" dnd-draggable="{type: 'group box 1'}" dnd-callback="true" >
                <md-icon md-svg-src="images/groupbox1_chart.svg" title = "Group Box (1 column)" style="fill: #c0c4c8"></md-icon>
         
            <span class="text" style="margin-left: 15px;">
            Group Box (1 column)
          </span>
        </a>
        </li>

        <li>
            <a dnd-draggable="{type: 'group box 2'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/groupbox2_chart.svg" title = "Group Box (2 column)" style="fill: #c0c4c8"></md-icon>
        
            <span class="text" style="margin-left: 15px;">
            Group Box (2 column)
          </span>
        </a>
        </li>
           <li>
            <a dnd-draggable="{type: 'group box 3'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/groupbox_chart.svg" title = "Group Box (3 column)" style="fill: #c0c4c8"></md-icon>
            
            <span class="text" style="margin-left: 15px;">
            Group Box (3 column)
          </span>
        </a>
        </li>
         <li>
            <a dnd-draggable="{type: 'list box'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/list_chart.svg" style="fill: #c0c4c8"></md-icon>
         
            <span class="text" style="margin-left: 15px;">
           List Box
          </span>
        </a>
        </li>

         <li>
            <a dnd-draggable="{type: 'pie chart'}" dnd-callback="true" dnd-type="'widgets'" >
                <md-icon md-svg-src="images/pie_chart.svg"  style="fill: #c0c4c8"></md-icon>
         
            <span class="text" style="margin-left: 15px;">
            Pie Chart
          </span>
        </a>
        </li>
         <li>
            <a dnd-draggable="{type: 'line chart'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/line_chart.svg"  style="fill: #c0c4c8">

                </md-icon>
        
            <span class="text" style="margin-left: 15px;">
            Line Chart
          </span>
        </a>
        </li>
         <li>
            <a dnd-draggable="{type: 'bar chart'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/bar-chart.svg"  style="fill: #c0c4c8">

                </md-icon>
          
          <span class="text" style="margin-left: 15px;">
           Bar Chart
          </span>
        </a>
        </li>
         <li>
            <a dnd-draggable="{type: 'count box'}" dnd-callback="true" dnd-type="'widgets'">
               <span style="color: #c0c4c8"> 123 </span>
            <span class="text" style="margin-left: 15px;">
            Count Box
          </span>
        </a>
        </li>

         <!-- <li>
            <a dnd-draggable="{type: 'activity breakdown'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/Activity.svg"  style="fill: #c0c4c8">
                </md-icon>
            <span class="text" style="margin-left: 15px;" dnd-type="'widgets'">
            Activity Breakdown
          </span>
        </a>
        </li>
        <li>
            <a dnd-draggable="{type: 'latest activities'}" dnd-callback="true" dnd-type="'widgets'">
                <md-icon md-svg-src="images/latest_activity.svg"  style="fill: #c0c4c8">
                </md-icon>
            <span class="text" style="margin-left: 15px;" dnd-type="'widgets'">
            Latest Activities
          </span>
        </a>
        </li> -->
     </ul>
  </md-content>
  </md-sidenav>

  <md-content flex="" layout-padding="" style="margin-top: 25px">
   <md-progress-linear  ng-if="loading" md-mode="indeterminate" ></md-progress-linear>
    <div layout="row" flex="100" ui-view style ="height: 100%">
    </div>
  </md-content>
</section>

  <script>
function openNav(id) {
   if(id == 'left')
    {
          if($("#main").css('marginLeft') == "0px" || $("#main").css('marginLeft') == "200px")
          {

            document.getElementById("main").style.marginLeft = "330px";
          }
          else
          {
            document.getElementById("main").style.marginLeft  = "0px";
          }

    }
    else if(id  == 'mainView')
    {
       if($("#main").css('marginLeft') == "0px")
          {
            document.getElementById("main").style.marginLeft = "200px";
          }
          else
          {
            document.getElementById("main").style.marginLeft  = "0px";
          }
    }
    else
    {
       document.getElementById("main").style.marginLeft  = "270px";
    }
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav(id)
{
  if(id == 'Main')
  {
    document.getElementById("main").style.marginLeft = "0px";
  }
  else
  {
    document.getElementById("main").style.marginLeft = "200px";
  }

}
</script>
