<section layout="row" flex=""  id="main">
  <md-toolbar class="crmToolBar"  style="background-color: #f2f4f5;min-height: 52px;height: 35px;border-bottom: 1px solid #ccc;position: fixed;">
      <div class="md-toolbar-tools">
      
        <a href="http://www.portqii.com/" target="_blank" style="background:none;">
             <img class="companyLogo" src="/images/portQii1.png">
        </a>
        <h2 flex="" md-truncate="" style="color:#96999b;margin-left: 8px;">Sales Intelligence</h2>
      </div>
    </md-toolbar>
<md-content style="width: 100%;padding-top: 52px">
  <div style="border-bottom: 1px solid rgb(204, 204, 204); padding: 10px 15px; background-color: rgb(255, 255, 255);"><h4 class="page-header-name">Contacts
     </h4>
    </div>
  
  </div>
<div>


   <div flex-gt-sm="100" flex=""   style ="padding: 0px 12px 8px 12px">
       <div>
        <form id="section-search-form" class="navbar-form" ng-submit="searchuser(query, page);searching  = true" role="search" novalidate="" style="max-width: 500px;padding-left: 0px">
          <div class="form-group has-icon">
            <i class="fa fa-search form-control-icon input-lg" style="position :absolute;color: #878C90;font-size: 14px;margin-top: 4px;"></i>
            <input type="text" id="section_search" ng-model="query" class="form-control section-search input-lg" name="q" placeholder="Search Contacts" value="" style="padding: 0px 26px 0px 26px;padding-left: 42px;height: 40px;width: 450px;font-size: 16px;background-color: #fcfdfe;border: 1px solid #C4CED7;" >
            <i class="fa fa-times form-control-icon search-close input-lg visible" ng-click="query = null" style="margin-left: -30px;font-size: 14px;color: #878C90;cursor: pointer;height: 0px;padding: 0px" ></i>
          </div>
        </form>
    </div>
    <md-content style = "border: 1px solid #ddd;background-color: white;border-radius: 5px;    margin-top: 0px;">

      <h4 style="font-size: 16px;padding-left: 12px">Recently Viewed</h4>
       <hr style="margin-bottom: 0px;margin-top: 0px">
        <md-progress-circular md-mode="indeterminate" style= "margin : 10px ;" ng-if="searching" md-diameter="25"></md-progress-circular>
        <h4 ng-if="users.length == 0 && !searching" style="margin: 10px">No record found</h4>
      <md-list flex="" style="padding-top: 0px">
       
        <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="profile(user.id)" style="border-bottom: 1px solid #ddd">
          
          <div class="md-list-item-text" layout="column" >
            <h4 style="font-size: 16px;font-weight: 700;">{{ user.firstName +" " + user.lastName }}</h4>
            <h4>{{ user.emailAddress }}</h4>
            <p>{{ user.accountName }}</p>
          </div>
        </hr>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
 <!--  <div class="col-lg-12 user-table">
    <table class="table table-striped">
      <thead>
        <tr style= "cursor: default;">
          <th>Email Address</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="profile(user.id)" ng-repeat="user in users" style = "cursor: pointer;">
          <td>{{user.emailAddress}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.currentStatus}}</td>
        </tr>
      </tbody>
    </table>

    <div class="col-lg-6 col-md-6" style="padding: 0px;padding-top: 7px;" ng-if="users.length">
      Showing from {{((page - 1 )* 10) + 1}} to {{page * 10 <= total? page * 10: total}} of {{total}} results
    </div>
     <div class="col-lg-6 col-md-6" ng-if="users.length" style ="text-align: right">
       <ul uib-pagination total-items="total" ng-model="page" max-size="maxSize" class="pagination-sm" ng-change="searchuser(query, page)" boundary-links="true" rotate="false"></ul>
    </div>
  </div> -->
</md-content>
</div>
