<section layout="column" flex="" style="min-width:auto "  >
     <div class="row profileDiv">
        <div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" style="margin:auto;display:none">
          <div class="modal-dialog" id="showPopup" align="center" style="width: 450px; height: 155px;top:20%;border-radius:0px!important;">
              <div class="modal-content" style="text-align: center; width:450px; min-height:155px;border-radius:0px!important;">
                  <div class="modal-header" style="padding-top: 12px;padding-bottom: 10px;border-radius:0px!important;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:18px;" align="left"> <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Information</h4>
                  </div>
                  <div class="modal-body putTextHere" style="padding-left: 25px;margin-top: 0px;margin-bottom: 0px;padding-bottom: 8px;">
                      <p class = "universalFont" id = "putDetailsHere">Are you sure you want to delete?</p>
                  </div>
                  <div class="modal-footer" style="padding-top:12px;text-align: center;border-radius:0px!important;">
                       <button type="button" ng-if="deleteWidgets" class="btn btn-md btn-default universalStyleForButtons" id="Yes" ng-click ="deleteWidget()" data-dismiss="modal" style="height: 25px;padding: 2px;width: 58px;border-radius: 0px;">Yes</button>
                        <button type="button" ng-if="deleteTabs" class="btn btn-md btn-default universalStyleForButtons" id="Yes" ng-click ="deleteTab()" data-dismiss="modal" style="height: 25px;padding: 2px;width: 58px;border-radius: 0px;">Yes</button>
                       <button type="button" class="btn btn-md btn-danger universalStyleForButtons" id="No"  style="height: 25px;padding: 2px;width: 58px;border-radius: 0px;" data-dismiss="modal">No</button>
                   </div>
                </div>
              </div>
             </div>
          </div>
  <md-content  layout-margin="" dnd-external-sources="true" dnd-list="" dnd-drop="droppedontabset(index, item, external, type, $index)"   >
    <md-tabs  md-dynamic-height="" md-border-bottom=""  >
      <md-tab ng-click="tabchanged($index);" ng-repeat="tab in alltabs" label="{{tab.name}}">
             <md-tab-label>
                <h4  ng-hide="tab.edit" style="text-transform: capitalize;font-size: 16px">
                  {{tab.name}}

                  <a href="" ng-hide="" ng-click="tab.edit = true"  ng-if= "editName" style="text-decoration: none">
                    <md-icon md-svg-icon="images/edit.svg" class="editIcon" ></md-icon>
                  </a>
                  <a ng-if="deletePanel" data-toggle="modal" data-target="#deleteWarning"    onclick="showConfirm()" ng-click="getIndexForDeleteTab(tab ,$index)" style="margin-top: -17px;height: 26px;min-height: 26px;width: 40px;min-width: 40px; margin-bottom: -2px;margin-left: 0px;">
                    <md-icon style=" fill : red;" md-svg-icon="images/clear.svg" ></md-icon>
                     </a>
                </h4>
                <div ng-show="tab.edit" style="margin-top: -10px" >
                <input type="text" ng-model="tab.name" style="color: black;height: 26px;width: 134px;font-size: 12px;" ng-keydown="onKeydown($event)" />
                   <md-button class="md-raised md-primary" ng-click="tab.edit = false;savetab(tab);" style="min-width: 30px;min-height: 26px;height: 26px;">
                     <md-icon md-svg-icon="images/save.svg" style="margin-top: -12px;"></md-icon>
                   </md-button>
                  </div>
             </md-tab-label>
      <md-tab-body>
           <div  style="width:100%; min-height: 420px;height: auto;padding: 20px;color:#444444;padding-top: 0px;font-family: Helvetica Neue , Helvetica, Arial, sans-serif" dnd-external-sources="true" dnd-list="" dnd-drop="dropped(index, item, external, type, $index)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="tab.widgets"  id="placeholder" ui-sortable="sortableOptions">
          <div id="{{$index}}" class='resizable' resizable r-directions="['right', 'bottom']" r-flex="false" r-width="column.width" r-height="column.height"  ng-repeat="column in tab.widgets"  style="float: left; margin-left: 10px; margin-top: 10px;" resize>
            <div style="height: 100%; overflow-x: scroll;width: inherit;" class="panel panel-default "  >
              <md-toolbar class="" style ="min-height: 40px;width:inherit;position: absolute;">
                <div class="md-toolbar-tools" style ="height: 48px;background-color:white;color:#444444;border-bottom: 1px solid #eeeeee;border-right: 1px solid #ccc;">
                  <h4  ng-hide="column.edit" style="font-size: 16px">{{column.name | capitalize }}</h4>
                  <span ng-show="column.edit">
                    <form ng-submit="saveWidget(column); column.edit = false;" >
                      <input type="text" ng-model="column.name" style="color: black;height: 26px;width: 134px;font-size: 14px;"/>
                    </form>
                  </span>
                   <a href="" ng-hide="column.edit" ng-click="column.edit = true"  ng-if= "editName">
                    <md-icon md-svg-icon="images/edit.svg" class="editIcon" style="fill: black;margin-top: -5px;margin-left: 5px"></md-icon>
                  </a>
                  <span flex=""></span>
                       <md-menu-bar ng-if="column.type == 'eloqua' && column.json.internalName == 'Activity Breakdown'  || column.type == 'eloqua' && column.json.internalName == 'Latest Activities' || column.type == 'eloqua' && column.json.internalName == 'Activities Graph' ">
            					   <span style='font-size:15px;opacity:.6'>
            					   {{fromdate*1000 | date}} to {{todate*1000 | date}}</b>
            					   </span>
                          <md-menu ng-show='column.json.internalName != "Activities Graph"'>
                            <button ng-click="$mdMenu.open()">
                              <i class="fa fa-filter" aria-hidden="true" style="color:#428bca"></i>
                            </button>
                            <md-menu-content width="3">
                            <md-menu-item ng-repeat="filter in filters">
                              <md-menu class="nested-menu">
                                <md-button ng-click="">{{ filter.filterBy }}</md-button>
                                 <md-menu-content width="3">
                                  <md-menu-item ng-repeat="type in filter.type" md-position-mode="target-left target">
                                    <!-- <md-button ng-click="filterByDate(type.name , column)" ng-if="filter.filterBy == 'By Date'"> -->
                                       <!-- {{ type.name }} -->
                                    <!-- </md-button> -->
                                     <md-checkbox md-menu-item ng-if="filter.filterBy == 'By Type'" style="margin-left: 28px;" ng-checked="true" ng-Mouseup ="checkedType(column , type.type)">
                                       <span>
                                        {{ type.name }}
                                       </span>
                                     </md-checkbox>
                                    </md-menu-content>
                                  </md-menu>
                              </md-menu-item>
                             <!-- <md-menu-item> -->
                              <!-- <md-button ng-click="showNameSearch(column)"> -->
                                <!-- By Name -->
                              <!-- </md-button> -->
                            <!-- </md-menu-item> -->
                          </md-menu-content>
                  </md-menu>
                </md-menu-bar>
                  <md-button class="md-icon-button" aria-label="delete" ng-if="deletePanel" data-toggle="modal" data-target="#deleteWarning"  onclick="showConfirm()" ng-click="getIndexForDelete($index)">
                    <md-icon style=" fill : red" md-svg-icon="images/clear.svg"></md-icon>
                  </md-button>
                </div>
                <md-progress-linear md-mode="indeterminate" ng-if="dataLoaded" style="margin-bottom: -3px !important;"></md-progress-linear>
              </md-toolbar>
              <md-content layout-padding="" style="background-color: white;min-width: min-content;" >
			   objectname: 'accountBasedLatestActivity'


			  <div class="panel-body" ng-show="column.type == 'eloqua' && column.json.internalName == 'Latest Activities' && column.objectname == 'accountBasedLatestActivity'" ng-model="column.json.properties" style = "padding-top: 45px;min-width: 520px;">
               <div ng-show="customDateForLatestActivitis" style="height: 32px;">
                    Start Date :
                    <md-datepicker ng-model="myStartDate1" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                    <span flex=""></span>
                  <span class="pull-right" style="margin-top: -1px;">
                    End Date :
                    <md-datepicker ng-model="myEndDate1" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                    <md-button style="height: 23px;margin-top: 0px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 25px;" ng-click="filterByCustomDate(column , myStartDate1 , myEndDate1)">
                     <md-icon class="" md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;"></md-icon>
                   </md-button>
                  </span>
                </div>
                <div style="height: 32px;" ng-show='nameSearchForLatestActivities'>
                 <span style='display:flex;'>
                  <input type="checkbox" ng-model="checked" style="width: 12px;height: 12px;margin-right: 2px">
                    not
                    <span style="margin-left: 20px">Contains </span>
                    <input type="text" class='form-control' name="assetName" ng-model='assetName' placeholder="Name.." style='width: 50%;height: 23px;display: inline;margin-left: 6px;'/>
                    <md-button style="height: 23px;min-width:  46px;margin-top: 0px; margin-bottom:  0px;background-color: #f2f4f5;min-height: 23px;"
                     ng-click="filterByName(column , checked , assetName)">
                     <md-icon class=""  md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;" ></md-icon>
                    </md-button>
                  </span>
                </div>

                  <div class="col-lg-12" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding:0px" >
                       <md-list flex="" style="padding: 0px" ng-repeat="activity in latestActivites |orderBy :activityDate"  >
                        <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailOpen' && latestEmailOpen">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                      <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailSend' && latestEmailSend">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailClickThrough' && latestEmailClick">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'webVisit' && latestWebVisit">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                      <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'formSubmit' && latestFormSubmit">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'latestCampainMember' && campaignMembership">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                    </md-list>
                  </div>
                </div>



              <div class="panel-body" ng-show="column.type == 'eloqua' && column.json.internalName == 'Latest Activities' && column.objectname != 'accountBasedLatestActivity'" ng-model="column.json.properties" style = "padding-top: 45px;min-width: 520px;">
               <div ng-show="customDateForLatestActivitis" style="height: 32px;">
                    Start Date :
                    <md-datepicker ng-model="myStartDate1" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                    <span flex=""></span>
                  <span class="pull-right" style="margin-top: -1px;">
                    End Date :
                    <md-datepicker ng-model="myEndDate1" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                    <md-button style="height: 23px;margin-top: 0px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 25px;" ng-click="filterByCustomDate(column , myStartDate1 , myEndDate1)">
                     <md-icon class="" md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;"></md-icon>
                   </md-button>
                  </span>
                </div>

                <div style="height: 32px;" ng-show='nameSearchForLatestActivities'>
                  <span flex='50'>
                    Name Contains :
                    <input type="text" class='form-control' name="contains" ng-model='nameContains' style='width: 24%;height: 27px;display: inline;'/>
                  </span>
                  <sapn flex='50'>
                    Name not Contains :
                    <input type="text" class='form-control' name="notContains" ng-model='nameNotContains' style='width: 24%;height: 27px;display: inline;'/>
                    <md-button style="height: 23px;margin-top: -6px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 25px;"
                     ng-click="filterByName(column , nameContains , nameNotContains)">
                     <md-icon class=""  md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;" ></md-icon>
                    </md-button>
                  </span>
                </div>

                  <div class="col-lg-12" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding:0px" >
                       <md-list flex="" style="padding: 0px" ng-repeat="activity in latestActivitesContact">
                        <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailOpen' && latestEmailOpen">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                      <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailSend' && latestEmailSend">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'emailClickThrough' && latestEmailClick">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'webVisit' && latestWebVisit">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                      <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'formSubmit' && latestFormSubmit">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                       <md-list-item class="md-2-line"  ng-init = "" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" ng-show="activity.activityType == 'latestCampainMember' && campaignMembership">
                          <img src="{{activity.image}}" class="" style="margin-right: 14px;margin-top:20px">
                          <div class="md-list-item-text" layout="column">
                            <strong style="height: 20px;">{{ activity.subjectLine }}</strong>
                            <p><md-icon  md-svg-icon="images/watch.svg" style="width:14px;min-width: 14px"></md-icon> {{activity.activityDate * 1000 | date : "medium"}}</p>
                         </div>
                         <md-icon class="pull-right" md-svg-icon="images/activities_right.svg" style=""></md-icon>
                      </md-list-item>
                    </md-list>
                  </div>
                </div>


				<div class="panel-body" ng-show="(column.type == 'eloqua' || column.type == 'eloquaAccountBsaed') && column.objectname == 'accountBasedActivityBreakdown'"  ng-model="column.json.properties" style = "padding-top: 45px;min-width: 520px;height:420px">
                  <div ng-show="customDate" style="height: 32px;">
                     Start Date :
                    <md-datepicker ng-model="myStartDate" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                    <span flex=""></span>
                  <span class="pull-right" style="margin-top: -1px;">
                    End Date :
                    <md-datepicker ng-model="myEndDate" md-placeholder="Enter date" md-open-on-focus="" ></md-datepicker>
                    <md-button style="height: 23px;margin-top: 0px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 25px;"
                     ng-click="filterByCustomDate(column , myStartDate , myEndDate)">
                     <md-icon class=""  md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;" ></md-icon>
                   </md-button>
                  </span>
                </div>
                <div style="height: 32px;" ng-show='nameSearch'>
                  <span style='display:flex;'>
                    <input type="checkbox" ng-model="checked1" style="width: 12px;height: 12px;margin-right: 2px">
                    not
                    <span style="margin-left: 20px">Contains </span>
                    <input type="text" class='form-control' name="assetNames" ng-model='assetNames' style='width: 50%;height: 23px;display: inline;margin-left: 6px;' placeholder="Name.." />
                    <md-button style="height: 23px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 23px;margin-top: 0px"
                     ng-click="filterByName(column , checked1 , assetNames)">
                     <md-icon class=""  md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;" ></md-icon>
                    </md-button>
                  </span>
                </div>
                <div  dnd-external-sources="false" dnd-list="" class="col-lg-12" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding-bottom:20px;padding-top: 20px" >
                       <div style="cursor: pointer" ng-init="emailSend = false" ng-click="emailSend = !emailSend" ng-Show="emailSends">
                           <img class="" src="/img/emailSends.PNG" >
                           <strong>Email Sends</strong>
                            <strong class="pull-right" style="margin-right: 20px;font-size: 16px;">{{widgetdata[column.id]["emailSend"].length}}</strong>
                       <hr>
                       </div>

                      <div ng-show="emailSend && emailSended.length && emailSends" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                        <!-- <div  ng-repeat="asset in emailSended"> -->
                         <!-- <div style="padding-bottom: 20px;padding-left: 20px"> -->
						 <!-- <b>Email : </b> -->
						 <!-- {{asset.emailAddress}} -->
						 <!-- </br> -->
                         <!-- <b>Name : </b>{{asset.name}} -->
                           <!-- </br> -->
                            <!-- <b>Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
                        <!-- </div> -->
                       <!-- </div> -->
					    <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
              <div class="md-toolbar-tools">
                <h2 class="md-title" style='font-size: 15px;'>Email Send</h2>
                <div flex="" class="flex"></div>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
                  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
                <div class="md-ripple-container"></div></button>

              </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
              <div class="md-toolbar-tools">
                <!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
                <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
                  <input type="text" ng-model="emailSend2" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
                  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
                <div class="md-ripple-container"></div></button>
              </div>
            </md-toolbar>
           <md-table-container style='max-height : 300px;border-bottom:0px solid'>
          <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="">
              <tr md-row>
                <th md-column ><b>Name</b></th>
				 <th md-column ><b>Email</b></th>
                <th md-column><b>Activity Date</b></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="asset" ng-repeat="asset in emailSended | filter : emailSend2 ">
                <td md-cell>{{asset.name}}</td>

				 <td md-cell>{{asset.emailAddress}}</td>
				  <td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>

              </tr>
            </tbody>
          </table>
        </md-table-container>
                        <hr style="margin-top: 0px">
                      </div>

                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="emailopen = false" ng-click="emailopen = !emailopen" ng-Show="emailOpens">
                         <img class="" src="/img/emailOpen.PNG">
                           <strong>Email Open</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{emailOpend.length}}</strong>
                       <hr>
                       </div>

                      <div  ng-show="emailOpens && emailopen && emailOpend.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <!-- <div ng-repeat="asset in emailOpend">  <div style="padding-bottom: 20px;padding-left: 20px"> -->
                          <!-- <b>Email : </b> -->
						 <!-- {{asset.emailAddress}} -->
						 <!-- </br> -->
						  <!-- <b>Name : </b> {{asset.name}} -->
                            <!-- </br> -->
                             <!-- <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
                           <!-- </div> -->
                         <!-- </div> -->
						       <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
								  <div class="md-toolbar-tools">
									<h2 class="md-title" style='font-size: 15px;'>Email Open</h2>
									<div flex="" class="flex"></div>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
									  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
									<div class="md-ripple-container"></div></button>

								  </div>
								</md-toolbar>
								<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
								  <div class="md-toolbar-tools">
									<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
									<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
									  <input type="text" ng-model="emailOpen2" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
									</form>
									<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
									  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
									<div class="md-ripple-container"></div></button>
								  </div>
								</md-toolbar>
							   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
							  <table md-table ng-model="selected" md-progress="promise">
								<thead md-head md-order="query.order" md-on-reorder="">
								  <tr md-row>
									<th md-column ><b>Name</b></th>
									 <th md-column ><b>Email</b></th>
									<th md-column><b>Activity Date</b></th>
								  </tr>
								</thead>
								<tbody md-body>
								  <tr md-row md-select="asset" ng-repeat="asset in emailOpend | filter : emailOpen2 ">
									<td md-cell>{{asset.name}}</td>

									 <td md-cell>{{asset.emailAddress}}</td>
									  <td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>

								  </tr>
								</tbody>
							  </table>
							</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                     <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="emailClickThrough = false" ng-click="emailClickThrough = !emailClickThrough" ng-Show="emailClick">
                           <img class="" src="/img/emailClicked.PNG">
                           <strong>Email Click</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{emailClicked.length}}</strong>
                       <hr>
                       </div>

                        <div ng-show="emailClick && emailClickThrough && emailClicked.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <!-- <div ng-repeat="asset in emailClicked">  <div style="padding-bottom: 20px;padding-left: 20px"> -->
                            <!-- <b>Email : </b> -->
						<!-- {{asset.emailAddress}} -->
						 <!-- </br> -->
							<!-- <b>Name : </b> {{asset.name}} -->
                            <!-- </br> -->
                             <!-- <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
							 <!-- </br> -->
                             <!-- <b> Link : </b><a href= "{{asset.link}}" target="_blank" style="cursor: pointer">{{asset.link}}</a> -->
                           <!-- </div> -->
                         <!-- </div> -->
						 <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
								  <div class="md-toolbar-tools">
									<h2 class="md-title" style='font-size: 15px;'>Email Click</h2>
									<div flex="" class="flex"></div>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
									  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
									<div class="md-ripple-container"></div></button>

								  </div>
								</md-toolbar>
								<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
								  <div class="md-toolbar-tools">
									<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
									<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
									  <input type="text" ng-model="emailClick2" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
									</form>
									<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
									  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
									<div class="md-ripple-container"></div></button>
								  </div>
								</md-toolbar>
							   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
							  <table md-table ng-model="selected" md-progress="promise">
								<thead md-head md-order="query.order" md-on-reorder="">
								  <tr md-row>
									<th md-column ><b>Name</b></th>
									 <th md-column ><b>Email</b></th>
									<th md-column><b>Activity Date</b></th>
									<th md-column><b>Link</b></th>
								  </tr>
								</thead>
								<tbody md-body>
								  <tr md-row md-select="asset" ng-repeat="asset in emailClicked | filter : emailClick2 ">
									<td md-cell>{{asset.name}}</td>

									 <td md-cell>{{asset.emailAddress}}</td>
									  <td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>
									  <td md-cell><a href= "{{asset.link}}" target="_blank" style="cursor: pointer">{{asset.link}}</a></td>

								  </tr>
								</tbody>
							  </table>
							</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="webVisit = false" ng-click="webVisit = !webVisit" ng-Show="webVisites">
                           <img class="" src="/img/webVisited.PNG">
                           <strong>Web Page Visited</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{webVisited.length}}</strong>
                           <hr>
                       </div>
                    <div  ng-show="webVisites && webVisit && webVisited.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <!-- <div ng-repeat="asset in webVisited"> -->
                       <!-- <div style="padding-bottom: 20px;padding-left: 20px"> -->
                          <!-- <b>Name : </b><a href= "{{asset.name}}" target="_blank" style="cursor: pointer"> {{asset.name}}</a> -->
                            <!-- </br> -->
                             <!-- <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
                           <!-- </div> -->
                       <!-- </div> -->
					   <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
								  <div class="md-toolbar-tools">
									<h2 class="md-title" style='font-size: 15px;'>Web Visited</h2>
									<div flex="" class="flex"></div>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
									  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
									<div class="md-ripple-container"></div></button>

								  </div>
								</md-toolbar>
								<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
								  <div class="md-toolbar-tools">
									<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
									<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
									  <input type="text" ng-model="webVisit2" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
									</form>
									<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
									  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
									<div class="md-ripple-container"></div></button>
								  </div>
								</md-toolbar>
							   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
							  <table md-table ng-model="selected" md-progress="promise">
								<thead md-head md-order="query.order" md-on-reorder="">
								  <tr md-row>
									<th md-column ><b>Link</b></th>

									<th md-column><b>Activity Date</b></th>

								  </tr>
								</thead>
								<tbody md-body>
								  <tr md-row md-select="asset" ng-repeat="asset in webVisited | filter : webVisit2 ">
									  <td md-cell><a href= "{{asset.name}}" target="_blank" style="cursor: pointer"> {{asset.name}}</a></td>
								     <td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>
								  </tr>
								</tbody>
							  </table>
							</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="formSubmit = false" ng-click="formSubmit = !formSubmit" ng-Show="formSubmited">
                           <img class="" src="/img/formSubmition.PNG">
                           <strong >Form Submissions</strong>
                           <strong class="pull-right" style="margin-right: 20px;font-size: 16px;">{{formSubmits.length}}</strong>
                      <hr>
                       </div>

                        <div  ng-show="formSubmited && formSubmit && formSubmits.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <!-- <div ng-repeat="asset in formSubmits">  <div style="padding-bottom: 20px;padding-left: 20px"> -->
                          <!-- <b>Name : </b> {{asset.name}} -->
                            <!-- </br> -->
                             <!-- <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
                           <!-- </br> -->
                           <!-- <md-icon md-svg-src="images/add.svg " ng-init="submitedData = true" class="parentPlusIcon" ng-show = "submitedData"   ng-click="submitedData =!submitedData"></md-icon> -->
                           <!-- <md-icon ng-show="!submitedData"  ng-click="submitedData=!submitedData" md-svg-src="images/remove.svg" class="parentMinusIcon"></md-icon> -->
                             <!-- <b>Submited Data</b> -->
                              <!-- <div ng-show="!submitedData" ng-repeat="data in  asset.formSubmitionData"> -->
                                <!-- <span style="padding-left: 20px">{{data}}</span> -->
                              <!-- </div> -->
                           <!-- </div> -->

                         <!-- </div> -->
						 <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
					  <div class="md-toolbar-tools">
						<h2 class="md-title" style='font-size: 15px;'>Form Submit</h2>
						<div flex="" class="flex"></div>
						<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
						  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
						<div class="md-ripple-container"></div></button>

					   </div>
					  </md-toolbar>
					 <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
					  <div class="md-toolbar-tools">
						<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
						  <input type="text" ng-model="formSubmit2" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
						</form>
						<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
						  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
						<div class="md-ripple-container"></div></button>
					  </div>
					</md-toolbar>
				   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
				  <table md-table ng-model="selected" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="">
					  <tr md-row>
					    <th md-column ><b>Submited Data</b></th>
						<th md-column ><b>Name</b></th>
						<th md-column><b>Activity Date</b></th>

					  </tr>
					</thead>
					<tbody md-body>
					  <tr md-row md-select="asset" ng-repeat="asset in formSubmits | filter : formSubmit2">
						<td md-cell><md-icon md-svg-src="images/add.svg " ng-init="submitedData = true" class="parentPlusIcon" ng-show = "submitedData"   ng-click="submitedData =!submitedData"></md-icon>
                          <md-icon ng-show="!submitedData"  ng-click="submitedData=!submitedData" md-svg-src="images/remove.svg" class="parentMinusIcon"></md-icon>
						    <div ng-show="!submitedData" ng-repeat="data in  asset.formSubmitionData">
                               <span style="padding-left: 20px">{{data}}</span>
                            </div>
						 </td>
					  <td md-cell>{{asset.name}}</td>
						<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>
					  </tr>
					</tbody>
				  </table>
				</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                     <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="campaignMembership = false" ng-click="campaignMembership = !campaignMembership" ng-Show="campaignMemberships">
                         <img class="" src="/img/externalActivities.PNG">
                         <strong>Campaign Membership</strong>
                         <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{campaignMember.length}}</strong>
                       </div>
                      <div  ng-show="campaignMemberships && campaignMembership && campaignMember.length">
                      <div ng-repeat="asset in campaignMember">  <div style="padding-bottom: 20px;padding-left: 20px">
                          <b>Name : </b> {{asset.name}}
                            </br>
                             <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}}
                           </div>
                         </div>
                        <hr>
                    </div>
                    </div>
                </div>

			<div class="panel-body" ng-show="column.type == 'eloqua' && column.json.internalName == 'Activity Breakdown' &&  column.objectname != 'accountBasedActivityBreakdown'"  ng-model="column.json.properties" style = "padding-top: 45px;min-width: 520px;height:400px">
                <div style="height: 32px;" ng-show='nameSearch'>
                  <span style='display:flex;'>
                    <input type="checkbox" ng-model="checked1" style="width: 12px;height: 12px;margin-right: 2px">
                    not
                    <span style="margin-left: 20px">Contains </span>
                    <input type="text" class='form-control' name="assetNames" ng-model='assetNames' style='width: 50%;height: 23px;display: inline;margin-left: 6px;' placeholder="Name.." />
                    <md-button style="height: 23px;min-width:  46px;margin-bottom:  0px;background-color: #f2f4f5;min-height: 23px;margin-top: 0px"
                     ng-click="filterByName(column , checked1 , assetNames)">
                     <md-icon class=""  md-svg-icon="images/filter_icon.svg"  style="min-width: 20px;width:  20px;margin-top: -10px;" ></md-icon>
                    </md-button>
                  </span>
                </div>
                <div  dnd-external-sources="false" dnd-list="" class="col-lg-12" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding-bottom:20px;padding-top: 20px" >
                       <div style="cursor: pointer" ng-init="emailSend = false" ng-click="emailSend = !emailSend" ng-Show="emailSends">
                           <img class="" src="/img/emailSends.PNG" >
                           <strong>Email Send</strong>
                           <strong class="pull-right" style="margin-right: 20px;font-size: 16px;">{{EmailSendContact.length}}</strong>
                       <hr>
                       </div>

                      <div ng-show="emailSend && EmailSendContact.length && emailSends" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;'class='md-whiteframe-3dp' >
						  <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
							  <div class="md-toolbar-tools">
								<h2 class="md-title" style='font-size: 15px;'>Email Send</h2>
								<div flex="" class="flex"></div>
								<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
								  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
								<div class="md-ripple-container"></div></button>

							  </div>
							</md-toolbar>
							<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
							  <div class="md-toolbar-tools">
								<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
								<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
								  <input type="text" ng-model="emailSend1" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
								</form>
								<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
								  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
								<div class="md-ripple-container"></div></button>
							  </div>
							</md-toolbar>
						   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
						  <table md-table ng-model="selected" md-progress="promise">
							<thead md-head md-order="query.order" md-on-reorder="emailSend1">
							  <tr md-row>
								<th md-column ><b>Name</b></th>
								<th md-column><b>Activity Date</b></th>
							  </tr>
							</thead>
							<tbody md-body>
							  <tr md-row md-select="asset" ng-repeat="asset in EmailSendContact | filter : emailSend1 ">
								<td md-cell>{{asset.name}}</td>
								<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>

							  </tr>
							</tbody>
						  </table>
						</md-table-container>
                      <hr style="margin-top: 0px">
                      </div>

                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="emailopen = false" ng-click="emailopen = !emailopen" ng-Show="emailOpens">
                         <img class="" src="/img/emailOpen.PNG">
                           <strong>Email Open</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{EmailOpenContact.length}}</strong>
                       <hr>
                       </div>

                      <div  ng-show="emailOpens && emailopen && EmailOpenContact.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                     	<md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
						  <div class="md-toolbar-tools">
							<h2 class="md-title" style='font-size: 15px;'>Email Open</h2>
							<div flex="" class="flex"></div>
							<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
							  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
							<div class="md-ripple-container"></div></button>
                         </div>
						</md-toolbar>
						<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
						  <div class="md-toolbar-tools">
							<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
							<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
							  <input type="text" ng-model="emailOpen1" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
							</form>
							<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
							  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
							<div class="md-ripple-container"></div></button>
						  </div>
						</md-toolbar>
					   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
					  <table md-table ng-model="selected" md-progress="promise">
						<thead md-head md-order="query.order" md-on-reorder="">
						  <tr md-row>
							<th md-column ><b>Name</b></th>
							<th md-column><b>Activity Date</b></th>
						  </tr>
						</thead>
						<tbody md-body>
						  <tr md-row md-select="asset" ng-repeat="asset in EmailOpenContact | filter : emailOpen1 ">
							<td md-cell>{{asset.name}}</td>
							<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>

						  </tr>
						</tbody>
					  </table>
					</md-table-container>

                      <hr style="margin-top: 0px">
                    </div>
                     <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="emailClickThrough = false" ng-click="emailClickThrough = !emailClickThrough" ng-Show="emailClick">
                           <img class="" src="/img/emailClicked.PNG">
                           <strong>Email Click</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{EmailClickContact.length}}</strong>
                       <hr>
                       </div>

                        <div ng-show="emailClick && emailClickThrough && EmailClickContact.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                        <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
						  <div class="md-toolbar-tools">
							<h2 class="md-title" style='font-size: 15px;'>Email Click</h2>
							<div flex="" class="flex"></div>
							<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
							  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
							<div class="md-ripple-container"></div></button>

						  </div>
						</md-toolbar>
						<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
						  <div class="md-toolbar-tools">
							<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
							  <input type="text" ng-model="emailClick1" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
							</form>
							<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
							  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
							<div class="md-ripple-container"></div></button>
						  </div>
						</md-toolbar>
					   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
					  <table md-table ng-model="selected" md-progress="promise">
						<thead md-head md-order="query.order" md-on-reorder="">
						  <tr md-row>
							<th md-column ><b>Name</b></th>
							<th md-column><b>Activity Date</b></th>
							<th md-column><b>Link</b></th>
						  </tr>
						</thead>
						<tbody md-body>
						  <tr md-row md-select="asset" ng-repeat="asset in EmailClickContact | filter : emailClick1 ">
							<td md-cell>{{asset.name}}</td>
							<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>
							<td md-cell><a href= "{{asset.link}}" target="_blank" style="cursor: pointer">{{asset.link}}</a></td>
						  </tr>
						</tbody>
					  </table>
					</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="webVisit = false" ng-click="webVisit = !webVisit" ng-Show="webVisites">
                           <img class="" src="/img/webVisited.PNG">
                           <strong>Web Page Visited</strong>
                           <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{WebVisitContact.length}}</strong>
                           <hr>
                       </div>
                    <div  ng-show="webVisites && webVisit && WebVisitContact.length"  style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
					  <div class="md-toolbar-tools">
						<h2 class="md-title" style='font-size: 15px;'>Web Visited</h2>
						<div flex="" class="flex"></div>
						<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
						  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
						<div class="md-ripple-container"></div></button>

					   </div>
					  </md-toolbar>
					 <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
					  <div class="md-toolbar-tools">
						<!-- <md-icon class="material-icons" style="position:  absolute;padding-top: 4px;font-size: 20px;padding-left: 4px;">search</md-icon> -->
						<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
						  <input type="text" ng-model="webVisit1" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
						</form>
						<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
						  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
						<div class="md-ripple-container"></div></button>
					  </div>
					</md-toolbar>
				   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
				  <table md-table ng-model="selected" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="">
					  <tr md-row>
						<th md-column ><b>Link</b></th>
						<th md-column><b>Activity Date</b></th>

					  </tr>
					</thead>
					<tbody md-body>
					  <tr md-row md-select="asset" ng-repeat="asset in WebVisitContact | filter : webVisit1 ">
						<td md-cell><a href= "{{asset.name}}" target="_blank" style="cursor: pointer">{{asset.name}}</a></td>
						<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>

					  </tr>
					</tbody>
				  </table>
				</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                       <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="formSubmit = false" ng-click="formSubmit = !formSubmit" ng-Show="formSubmited">
                           <img class="" src="/img/formSubmition.PNG">
                           <strong >Form Submissions</strong>
                           <strong class="pull-right" style="margin-right: 20px;font-size: 16px;">{{FormSubmitContact.length}}</strong>
                      <hr>
                       </div>

                        <div ng-show="formSubmited && formSubmit && FormSubmitContact.length" style='border: 1px solid #ddd;max-height : 400px;border-bottom: 0px solid;' class='md-whiteframe-3dp'>
                      <!-- <div ng-repeat="asset in FormSubmitContact">  <div style="padding-bottom: 20px;padding-left: 20px"> -->
                          <!-- <b>Name : </b> {{asset.name}} -->
                            <!-- </br> -->
                             <!-- <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}} -->
                           <!-- </br> -->
                           <!-- <md-icon md-svg-src="images/add.svg " ng-init="submitedData = true" class="parentPlusIcon" ng-show = "submitedData"   ng-click="submitedData =!submitedData"></md-icon> -->
                           <!-- <md-icon ng-show="!submitedData"  ng-click="submitedData=!submitedData" md-svg-src="images/remove.svg" class="parentMinusIcon"></md-icon> -->
                             <!-- <b>Submited Data</b> -->
                              <!-- <div ng-show="!submitedData" ng-repeat="data in  asset.formSubmitionData"> -->
                                <!-- <span style="padding-left: 20px">{{data}}</span> -->
                              <!-- </div> -->
                           <!-- </div> -->

                         <!-- </div> -->

                      <md-toolbar class="md-table-toolbar" ng-hide="selected.length || filter.show" aria-hidden="false" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);color: black;z-index: 0;">
					  <div class="md-toolbar-tools">
						<h2 class="md-title" style='font-size: 15px;'>Form Submit</h2>
						<div flex="" class="flex"></div>
						<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
						  <md-icon class="material-icons" md-svg-src="images/filter_list.svg " style="fill:black"></md-icon>
						<div class="md-ripple-container"></div></button>

					   </div>
					  </md-toolbar>
					 <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show &amp;&amp; !selected.length" aria-hidden="true" style="min-height: 50px;height: 54px;background-color: rgb(250, 250, 250);z-index: 0;">
					  <div class="md-toolbar-tools">
						<form flex="" name="filter.form" class="ng-pristine ng-valid flex">
						  <input type="text" ng-model="formSubmit1" ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px">
						</form>
						<button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="filter.show = false" aria-label="close">
						  <md-icon class="material-icons" md-svg-src="images/clear.svg " style="fill:red"></md-icon>
						<div class="md-ripple-container"></div></button>
					  </div>
					</md-toolbar>
				   <md-table-container style='max-height : 300px;border-bottom:0px solid'>
				  <table md-table ng-model="selected" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="">
					  <tr md-row>
					    <th md-column ><b>Submited Data</b></th>
						<th md-column ><b>Name</b></th>
						<th md-column><b>Activity Date</b></th>

					  </tr>
					</thead>
					<tbody md-body>
					  <tr md-row md-select="asset" ng-repeat="asset in FormSubmitContact | filter : formSubmit1">
						<td md-cell><md-icon md-svg-src="images/add.svg " ng-init="submitedData = true" class="parentPlusIcon" ng-show = "submitedData"   ng-click="submitedData =!submitedData"></md-icon>
                          <md-icon ng-show="!submitedData"  ng-click="submitedData=!submitedData" md-svg-src="images/remove.svg" class="parentMinusIcon"></md-icon>
						    <div ng-show="!submitedData" ng-repeat="data in  asset.formSubmitionData">
                               <span style="padding-left: 20px">{{data}}</span>
                            </div>
						 </td>
					  <td md-cell>{{asset.name}}</td>
						<td md-cell>{{asset.activityDate * 1000 | date : "medium"}}</td>
					  </tr>
					</tbody>
				  </table>
				</md-table-container>
                      <hr style="margin-top: 0px">
                    </div>
                     <div ui-sortable="sortableOptions" style="cursor: pointer" ng-init="campaignMembership = false" ng-click="campaignMembership = !campaignMembership" ng-Show="campaignMemberships">
                         <img class="" src="/img/externalActivities.PNG">
                         <strong>Campaign Membership</strong>
                         <strong  class="pull-right" style="margin-right: 20px;font-size: 16px;">{{CampainMemberContact.length}}</strong>
                       </div>
                      <div  ng-show="campaignMemberships && campaignMembership && CampainMemberContact.length">
                      <div ng-repeat="asset in CampainMemberContact">  <div style="padding-bottom: 20px;padding-left: 20px">
                          <b>Name : </b> {{asset.name}}
                            </br>
                             <b> Activity Date : </b>{{asset.activityDate * 1000 | date : "medium"}}
                           </div>
                         </div>
                        <hr>
                    </div>
                    </div>
                </div>


				<div class="panel-body" ng-show="column.type == 'eloqua' && column.internalName == 'Activities Graph' && column.objectname == 'accountBasedActivityGraph'"  style = "padding-top: 45px;min-width: 600px;">
                  <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 300px;">
                    <nvd3 options="column.json.options" data="accountActivityGraph"></nvd3>
                  </div>
                </div>

                <div class="panel-body" ng-show="column.type == 'eloqua' && column.internalName == 'Activities Graph' && column.objectname != 'accountBasedActivityGraph'"  style = "padding-top: 45px;min-width: 600px;">
                  <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 250px;">
                    <nvd3 options="column.json.options" data="contactActivityGraph" style='width:100%'></nvd3>
                  </div>
                </div>


               <div class="panel-body" ng-show="column.type == 'group box 1'"  ui-sortable="sortableOptions" ng-model="column.json.properties" style = "padding-top: 45px;min-width: 300px;" >
                <div dnd-list="" dnd-external-sources="true"  dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding-bottom: 20px" ng-repeat="subcolumn in column.json.properties" >
                    <div ui-sortable="sortableOptions" ng-model="subcolumn" >
                      <div ng-repeat="item in subcolumn" id="{{$index}}" >
                        <strong uib-tooltip = "{{item.property.source}}" >{{item.property.label}} </strong>
                           <a href="" ng-hide="column.edit" ng-if= "delete && item.property.label" ng-click="subcolumn.splice($index, 1); saveWidget(column);" style="text-decoration: none">
                             <md-icon class = "deleteFieldsIcon" style=" fill : red" md-svg-icon="images/clear.svg">
                            </md-icon>
                          </a>
                       <span ng-if="item.property.source == 'eloqua'" style="display: -webkit-box;">
                        <span ng-if="!eloquauser[item.property.internalName]">
                        Not Available
                        </span>
                        <span>
                        {{eloquauser[item.property.internalName]}}
                        </span>
                        </span>
                        <span  ng-if="item.property.source == 'salesforce'" style="display: -webkit-box;">
                         <span ng-if="!item.property.value[0]">
                        Not Available
                        </span>
                        <span >
                        {{item.property.value[0]}}
                        </span>

                        </span>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body" ng-show="column.type == 'group box 2'" ui-sortable="sortableOptions" ng-model="column.json.properties" style = "padding-top: 45px;min-width: 500px;">
                  <div  dnd-external-sources="true" dnd-list=""  dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-6" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding-bottom: 20px" ng-repeat="subcolumn in column.json.properties">
                    <div ui-sortable="sortableOptions" ng-model="subcolumn">
                      <div ng-repeat="item in subcolumn" id="{{$index}}" >

                          <strong uib-tooltip = "{{item.property.source}}" >{{item.property.label}} </strong>
                           <a href="" ng-hide="column.edit" ng-if= "delete && item.property.label" ng-click="subcolumn.splice($index, 1); saveWidget(column);" style="text-decoration: none">

                            <md-icon class = "deleteFieldsIcon" style=" fill : red" md-svg-icon="images/clear.svg">
                            </md-icon>
                          </a>

                        <span ng-if="item.property.source == 'eloqua'" style="display: -webkit-box;">
                        <span ng-if="!eloquauser[item.property.internalName]">
                        Not Available
                        </span>
                        <span>
                        {{eloquauser[item.property.internalName]}}
                        </span>
                        </span>
                        <span  ng-if="item.property.source == 'salesforce'" style="display: -webkit-box;">
                        <span ng-if="!item.property.value[0]">
                        Not Available
                        </span>
                        <span >
                        {{item.property.value[0]}}
                        </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body" ng-show="column.type == 'group box 3'" ui-sortable="sortableOptions" ng-model="column.json.properties" style = "padding-top: 45px;min-width: 500px;">
               <div  dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-4" style="min-height: 300px; border: 1px solid #dddddd;height: auto;padding-bottom: 20px" ng-repeat="subcolumn in column.json.properties"  >
                    <div ui-sortable="sortableOptions" ng-model="subcolumn">
                      <div  ng-repeat="item in subcolumn" id="{{$index}}" >

                        <strong uib-tooltip = "{{item.property.source}}" >{{item.property.label}}</strong>
                        <a href="" ng-hide="column.edit"  ng-if= "delete && item.property.label"  ng-click="subcolumn.splice($index, 1); saveWidget(column);" style="text-decoration: none">
                            <md-icon class = "deleteFieldsIcon" style=" fill : red" md-svg-icon="images/clear.svg" ></md-icon>
                          </a>

                        <span ng-if="item.property.source == 'eloqua'" style="display: -webkit-box;">
                        <span ng-if="!eloquauser[item.property.internalName]">
                        Not Available
                        </span>
                        <span>
                        {{eloquauser[item.property.internalName]}}
                        </span>
                        </span>
                        <span ng-if="item.property.source == 'salesforce'" style="display: -webkit-box;">
                        <span ng-if="!item.property.value[0]">
                        Not Available
                        </span>
                        <span >
                        {{item.property.value[0]}}
                        </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body" ng-show="column.type == 'list box'" W style = "padding-top: 45px;min-width: 500px;" >
                  <div class="col-lg-12 " style="padding-right: 17px;padding-top: 5px;padding-bottom: 10px">
                    <div class="pull-right" events="multiselectevents" ng-dropdown-multiselect="" options="salesforceobjectfields[column.json.childSObject]" selected-model="column.json.fields" ></div>
                  </div>
                  <div dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12" style="min-height: 80px;height: auto; width:auto;min-width: 100%; border: 1px solid #dddddd;padding: 10px" >

                  <!-- <md-toolbar class="md-table-toolbar" ng-hide="itemSelected.length || listfilter" aria-hidden="false" style="min-height: 40px;height: 40px;background-color:white">
                    <div class="md-toolbaWr-tools">

                      <div flex="" class="flex"></div>
                      <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="listfilter = true" aria-label="filter_list">
                        <md-icon class="material-icons">filter_list</md-icon>
                      <div class="md-ripple-container"></div></button>
                    </div>
                  </md-toolbar> -->
                  <md-toolbar class="md-table-toolbar md-default "  aria-hidden="true" style="min-height: 40px;height: 40px">
                    <div class="md-toolbar-tools pull-right">
                      <span flex="100"></span>
                      <form flex=""  class="ng-pristine ng-valid flex">
                       <input type="text" ng-model="query"  ng-change="" placeholder="search" class="form-control" aria-invalid="false" style="height: 26px; font-size: initial;width: 200px;margin-right: -20px;">
                      </form>
                     </div>
                  </md-toolbar>

                  <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="itemSelected.length" aria-hidden="true" >
                    <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
                      <div>0 item selected</div>
                    </div>
                  </md-toolbar>
              <md-table-container style="background-color: white;padding-top:25px">
                <table ng-if="secondarydata[column.json.parent]"  md-table md-row-select multiple ng-model="itemSelected" md-progress="promise">
                  <thead md-head md-on-reorder="" >

                      <th md-column ng-repeat="field in column.json.fields">{{field.id}}</th>

                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in widgetdata[column.id]">
                      <td md-cell ng-repeat="field in column.json.fields">{{item[field.id]}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
                 <md-table-pagination ng-if= "widgetdata[column.id].length" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{itemcount}}" md-on-paginate="" md-page-select>
                 </md-table-pagination>
              </div>
             </div>
                <div class="panel-body" ng-show="column.type == 'pie chart'"  style = "padding-top: 45px;min-width: 500px;">
                  <div dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 500px;" >
                    <nvd3 options="column.json.options" data="widgetdata[column.id]"></nvd3>
                  </div>
                </div>

                <div class="panel-body" ng-show="column.type == 'line chart'"  style = "padding-top: 45px;min-width: 500px;">
                  <div dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 500px;">
                    <nvd3 options="column.json.options" data="widgetdata[column.id]"></nvd3>
                  </div>
                </div>
                <div class="panel-body" ng-show="column.type == 'bar chart'" style = "padding-top: 45px;min-width: 500px;" >
                  <div dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 500px;" >
                    <nvd3 options="column.json.options" data="widgetdata[column.id]"></nvd3>
                  </div>
                </div>
                <div class="panel-body" ng-show="column.type == 'count box'" style = "padding-top: 45px;min-width: 500px;">
                  <div dnd-external-sources="true" dnd-list="" dnd-drop="droppedOnWidget(index, item, external, type, column, $index)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; height: 500px;">
                    <strong>{{widgetdata[column.id]}} <strong> {{column.json.childSObject}}
                  </div>
                </div>
              </md-content>
            </div>
          </div>
        </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>
  </md-content>
</section>
<script>

   function openSubMenu(self)
   {
    $(self).next('ul').toggle();
  //  alert("clicked");
    e.stopPropagation();
    e.preventDefault();

  }

  function showConfirm()
  {
    $("#deleteWarning").show();
  }
$(".resizable").resizable({
    handles: 'se',
    aspectRatio: 2 / 1
});

</script>
